button{
    margin: 5px;
}
.container{
    border: 2px solid black;
    //float: right;
    border-radius: 10px;
    border-collapse: collapse;
    width: 20%;
    height: 280px;
    margin-right: 10%;
    font-size: 18px;
}
label{
    float: left;
}