button{
    margin: 5px;
}
.container{
    border: 2px solid black;
    //float: right;
    border-radius: 10px;
    border-collapse: collapse;
    width: 20%;
    height: 300px;
    margin-left: 70%;
    font-size: 18px;
    position: sticky;
    
}
label{
    float: left;
}

.wrap{
    width: 100%;
}