<app-edit-data [person]="person" *ngIf="editAction" (memberUpdated)="onUpdateMember($event)"></app-edit-data>

<div class="action">
    <app-actions (memberAdded)="onMemberAdded($event)" *ngIf="showAction"></app-actions>
</div>
<button class="btn btn-primary" (click)="onGenerateTickets(members)">Generate Tickets</button>
<button class="btn btn-danger" (click)="onClearCache()">Clear Cache</button>

<table class="tableTC">
    <tr>
        <th>Name</th>
        <th>Phone no.</th>
        <th>Tickets</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let member of members"> 
        <td>{{ member.name}}</td>
        <td>{{ member.phone }}</td>
        <td class="numTicket">{{ member.numTickets }}</td>
        <td> <span class="edit" (click)="onEditPerson(member)" style='font-size:20px;'>&#x270D;</span>
            /
            <img class="delete" (click)="onDeletePerson(member.name)" src="https://img.icons8.com/metro/20/000000/trash.png"/>
        </td>
    </tr>
</table>
<button class="btn btn-success" (click)="onAction()">+</button>

<div class="message">
    <div class="success" *ngIf="successMessage">
        {{ successMessage }}
    </div>
    
    <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>


