body{
    background-color: lavender;
}

.footerText{
    float: center;
    position: fixed;
    top: 775px;
    margin-left: 700px;
   
}

.specialImage {
    float: right;
    position: fixed;
    margin-top: 125px;
    top: 10px;
    right: 10px;
}